MOC:CFG_1.0:5:0::
#
MOTION_SYSTEM:

      -name "system_1" -min_temp_ambient_cabinet 5 -max_temp_ambient_cabinet 45\
      -min_temp_ambient_robot 5 -max_temp_ambient_robot 45
#
MOTION_PLANNER:

      -name "motion_planner_1" -dynamic_resolution 0.6667\
      -path_resolution 0.6667 -std_servo_queue_time 0.08064\
      -dyn_ipol_decbuf_type "OPTIMAL_PATH" -cpu_load_equalization 3\
      -use_motion_sup "rob1" -use_jog_parameters "motion_planner_1"\
      -use_for_synchronization  -use_for_jogging  -repos_installed \
      -use_spline_parameters "motion_planner_1" -restricted_circlepoint 

      -name "motion_planner_2"

      -name "motion_planner_3"

      -name "motion_planner_4"

      -name "motion_planner_5"

      -name "motion_planner_6"
#
JOG_PARAMETERS:

      -name "motion_planner_1"
#
RELAY:

      -name "rob1_brake" -out_signal "DRV1BRAKE" -in_signal "DRV1BRAKEFB"

      -name "rob1_run" -out_signal "DRV1CHAIN1" -in_signal "DRV1K1" -run_relay 

      -name "rob1_run2" -out_signal "DRV1CHAIN2" -in_signal "DRV1K2" -run_relay 
#
ROBOT:

      -name "ROB_1" -use_robot_serial_number "rob_1"\
      -use_robot_type "ROB1_MIA_0.81_5" -use_robot_calib "r1_uncalib"\
      -use_joint_0 "rob1_1" -use_joint_1 "rob1_2" -use_joint_2 "rob1_3"\
      -use_joint_3 "rob1_4" -use_joint_4 "rob1_5" -use_joint_5 "rob1_6"\
      -base_mass 14 -base_mass_centre_x -0.0668 -base_mass_centre_y 0.0016\
      -base_mass_centre_z 0.0582 -use_lin_jog "ROB1" -use_reorient_jog "ROB1"\
      -use_joint_jog "ROB1" -use_kinematic_corvec 
#
ROBOT_SERIAL_NUMBER:

      -name "rob_1"
#
TOOL_INTERFACE:

      -name "r1_tool"
#
CSS:

      -name "rob1" -valid 
#
MOTION_SUP:

      -name "rob1" -path_col_detect_on  -jog_col_detect_on \
      -inertia_tolerance 0.3 -gravity_tolerance 0.2 -friction_tolerance 1\
      -disturbance_tolerance 0.2

      -name "default"
#
ARM:

      -name "rob1_1" -use_arm_type "ROB1_1" -use_acc_data "rob1_1"\
      -use_arm_calib "rob1_1" -upper_joint_bound 3.14159\
      -lower_joint_bound -3.14159 -upper_joint_bound_max 3.14159\
      -lower_joint_bound_min -3.14159

      -name "rob1_2" -use_arm_type "ROB1_2" -use_acc_data "rob1_2"\
      -use_arm_calib "rob1_2" -upper_joint_bound 1.91986\
      -lower_joint_bound -1.5708 -upper_joint_bound_max 1.91986\
      -lower_joint_bound_min -1.5708

      -name "rob1_3" -use_arm_type "ROB1_3" -use_acc_data "rob1_3"\
      -use_check_point "rob1_3" -use_arm_calib "rob1_3"\
      -upper_joint_bound 0.872665 -lower_joint_bound -4.01426\
      -upper_joint_bound_max 0.872665 -lower_joint_bound_min -4.01426

      -name "rob1_4" -use_arm_type "ROB1_4" -use_acc_data "rob1_4"\
      -use_arm_calib "rob1_4" -upper_joint_bound 3.49066\
      -lower_joint_bound -3.49066 -upper_joint_bound_max 1039\
      -lower_joint_bound_min -1039

      -name "rob1_5" -use_arm_type "ROB1_5" -use_acc_data "rob1_5"\
      -use_arm_calib "rob1_5" -upper_joint_bound 2.00713\
      -lower_joint_bound -2.00713 -upper_joint_bound_max 2.00713\
      -lower_joint_bound_min -2.00713

      -name "rob1_6" -use_arm_type "ROB1_6" -use_acc_data "rob1_6"\
      -use_arm_calib "rob1_6" -upper_joint_bound 6.98132\
      -lower_joint_bound -6.98132 -upper_joint_bound_max 1030\
      -lower_joint_bound_min -1030
#
ARM_CHECK_POINT:

      -name "rob1_3" -checktype "POS" -position_x -0.05 -position_y -0.05\
      -position_z 0.05
#
ARM_LOAD:

      -name "r1_load_1"

      -name "r1_load_2"

      -name "r1_load_3"

      -name "r1_load_4"
#
ARM_CALIB:

      -name "rob1_1"

      -name "rob1_2"

      -name "rob1_3"

      -name "rob1_4"

      -name "rob1_5"

      -name "rob1_6"
#
JOINT_CALIB:

      -name "rob1_1"

      -name "rob1_2"

      -name "rob1_3"

      -name "rob1_4"

      -name "rob1_5"

      -name "rob1_6"
#
MAINS:

      -name "mains" -u_tolerance_min -0.15 -u_tolerance_max 0.1
#
CURRENT_CONTROLLER:

      -name "c_c_slow_1" -Kp_d_factor 0.2 -current_forced_factor 0.5\
      -delay_filter_time 0.000252
#
CABLE:

      -name "cable_4.5_30" -use_cable_type "cable_4.5" -length 30

      -name "cable_3.0_30" -use_cable_type "cable_3.0" -length 30

      -name "cable_1.5_30" -use_cable_type "cable_1.5" -length 30

      -name "cable_1.0_30" -use_cable_type "cable_1.0" -length 30

      -name "cable_3.0_50" -use_cable_type "cable_3.0" -length 50

      -name "cable_2.0_50" -use_cable_type "cable_2.0" -length 50

      -name "cable_0.75_50" -use_cable_type "cable_0.75" -length 50
#
MOTOR_TYPE:

      -name "default" -pole_pairs 3 -torque_0 1 -ke 0.5 -i_max 3 -r_stator_20 5\
      -l_stator 0.02
#
MOTOR_CALIB:

      -name "rob1_1" -valid_com_offset 

      -name "rob1_2" -valid_com_offset 

      -name "rob1_3" -valid_com_offset 

      -name "rob1_4" -valid_com_offset 

      -name "rob1_5" -valid_com_offset 

      -name "rob1_6" -valid_com_offset 

      -name "LOCKED" -valid_com_offset  -valid_cal_offset 
#
DRIVE_MODULE_USER_DATA:

      -name "drive_module_1"
#
CFRIC_BLOCK:

      -name "r1_CFric_1" -friction_ff_on  -friction_ff_level 0.12\
      -servo_tune_id_level 5 -servo_tune_id_ramp 6

      -name "r1_CFric_2" -friction_ff_on  -friction_ff_level 0.08\
      -servo_tune_id_level 5 -servo_tune_id_ramp 6

      -name "r1_CFric_3" -friction_ff_on  -friction_ff_level 0.08\
      -servo_tune_id_level 5 -servo_tune_id_ramp 6

      -name "r1_CFric_4" -friction_ff_on  -friction_ff_level 0.06\
      -servo_tune_id_level 5 -servo_tune_id_ramp 6

      -name "r1_CFric_5" -friction_ff_on  -friction_ff_level 0.09\
      -servo_tune_id_level 5 -servo_tune_id_ramp 6

      -name "r1_CFric_6" -friction_ff_on  -friction_ff_level 0.04\
      -servo_tune_id_level 5 -servo_tune_id_ramp 6
#
SIS_EXTERNAL:

      -name "r1_sis_param" -prod_time_service_interval 20000\
      -calender_time_service_interval 3 -gear_box_warning_level 100
